*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10vh;
    align-content:space-around;
    align-items:center;
    justify-items:center;
  }
  .SectA{
    box-sizing: border-box;
    background-color: hsl(193, 100%, 96%);
    margin: 0;
    height: 100vh;
    padding-bottom: 20px;
    background-image: url(Images/bg-hero-desktop.svg);
  }
  .mainA{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
  }
  .limg{
    padding-top: 10px;
  }
  .leftA{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
  }
  .Lp1{
    padding-bottom: 50px;
    font-size: 36px;
    color: hsl(192, 100%, 9%);
    text-indent: 3px;
    font-weight: 700;
    font-family: Poppins;
  }
  .Lp2{
    padding-bottom: 50px;
    font-size: 16px;
    color: hsl(192, 100%, 9%);
    text-indent: 1px;
    font-weight: 400;
  }
  .lp3{
    border-radius: 100vw; 
    color: white;
    background-color: hsl(322, 100%, 66%);
    text-align: center;
    padding: 20px;
    align-items: left;
  }
  .rightA{
    max-width: 55%;
  }
  .rimg{
    padding: 10px;
    max-width: 90%;
    padding-bottom: 20px;
  }
  .rp1{
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100vw; 
    padding-top: 10px;
    color: hsl(192, 100%, 9%);
    background-color: white;
    text-align: center;
    max-width: 15%;
    font-weight: 600;
    font-size:11px;
    font-family: sans-serif;
  }
  .SectB{
    background-color:  white;
    display: flex;
    box-sizing: border-box;
    width: 75%;
    justify-content: center;
    align-content: center;
    padding: 5vh;
    border: 2px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 2px  #d8d3d3;
    height: 60vh;
    margin-top: 20vh;
    margin-bottom: 5vh;
  }
  .imgB{
    width: 40%;
  }
  .imgb{
    padding: 20px;
    display: block;
    box-sizing: border-box;
    max-width: 90%;
  }
  .leftB{
    width: 60%;
    padding: 50px;
    display: block;
    box-sizing: border-box;
  }
  .lpb1{
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 5vw;
  }
  .lpb2{
    padding-bottom: 10px;
    color: hsl(208, 11%, 55%);
  }
  .SectC{
    background-color:  white;
    display: flex;
    box-sizing: border-box;
    width: 75%;
    justify-content: center;
    align-content: center;
    padding: 5vh;
    border: 2px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 2px  #d8d3d3;
    height: 60vh;
    margin-bottom: 5vh;
  }
  .imgC{
    width: 40%;
  }
  .imgc{
    padding: 20px;
    display: block;
    box-sizing: border-box;
    max-width: 90%;
  }
  .RightC{
    width: 60%;
    padding: 50px;
    display: block;
    box-sizing: border-box;
  }
  .Rpc1{
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 5vw;
  }
  .Rpc2{
    padding-bottom: 10px;
    color: hsl(208, 11%, 55%);
  }
  .SectD{
    background-color:  white;
    display: flex;
    box-sizing: border-box;
    width: 75%;
    justify-content: center;
    align-content: center;
    padding: 5vh;
    border: 2px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 2px  #d8d3d3;
    height: 60vh;
    margin-bottom: 20vh;
  }
  .imgD{
    width: 40%;
  }
  .imgd{
    padding: 20px;
    display: block;
    box-sizing: border-box;
    max-width: 90%;
  }
  .leftD{
    width: 60%;
    padding: 50px;
    display: block;
    box-sizing: border-box;
  }
  .lpd1{
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 5vw;
  }
  .lpd2{
    padding-bottom: 10px;
    color: hsl(208, 11%, 55%);
  }
  .SectE{
    background-color:  hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
    height: 25vh;
    justify-content: space-between;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
  }
  .topE{
    color:  hsl(192, 100%, 9%);
    font-weight: 700;
    font-size: 1.5em;
    padding: 5%;
  }
  .bottomE{
    background-color: hsl(322, 100%, 66%);
    color: hsl(208, 11%, 55%);
    border-radius: 100vw;
    margin-bottom: 5%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    width: 50%;
    font-size: medium;
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .SectF{
    background-color:  hsl(192, 100%, 9%);
    width: 100%;
    display: flex;
    padding: 5vh;
    padding-top: 20vh;
    justify-content: center;
    color: white;
    height: 80vh;
  }
  ul{
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  li{
    padding-bottom: 10px;
    padding-bottom: 1%;
  }  
  .SM icons{
    padding-bottom: 30%;
  }
  .footing{
    float: right;
    position: fixed;
    margin-bottom: 0;
  }
  @media(min-width:992px){
    html{
       min-width: 992px;
       }
    body{
       width:auto;
       }
      }
 @media (min-width:768px) and (max-width:991px) {
    html{
       min-width: 768px;
       max-width: 991px;
       }
    body{
       width: 100%;
       }
    article{
       width: 49%;
       height: 45%;
       }
    article:nth-child(3){
       width: 100%;
       font-size: large;
       height: 45%;
    }
    article:nth-child(3) p{
      padding: 2%;
      margin: 1%;
    }
    article:nth-child(3) h2{
      padding: 1%;
    }
   }
   @media(max-width:767px){
    html{
       max-width: 767px;
       }
    section{
       flex-direction: column;
       }
    article{
       width: 100%;
       }
    p{
      font-size: medium;
      width: 100%;
    }
    .SectA, .mainA{
      display: flex;
      flex-direction: column;
    }
    .SectB{
    display: flex;
    flex-direction: column;
    }
    .SectC{
      display: flex;
      flex-direction: column;
    }
   .SectD{
    display: flex;
    flex-direction: column;
    }
    .SectF{
      padding: 2vh;
      padding-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      align-content: center;
      justify-self: center;
      text-align: center;
      align-items: center;
    }
   .footerlogo.col-1{
      align-self: center;
      height: 20%;
    }
    img{
      width: 70%;
      height: 80%;
    }
    .leftA, .leftB, .leftD, .rightA, .RightC, .imgB, .imgB, .imgC, .imgc, .imgD, .imgd, .limg, .rimg{
      width: 100%;
      padding: 5px;
    }
  }